[submodule "rust/sqlx"]
	path = rust/sqlx/upstream
	url = https://github.com/launchbadge/sqlx.git
[submodule "rust/mysql_async"]
	path = rust/mysql_async/upstream
	url = https://github.com/blackbeam/mysql_async
[submodule "rust/mysql"]
	path = rust/mysql/upstream
	url = git@github.com:blackbeam/rust-mysql-simple.git
[submodule "python/sqlalchemy/upstream"]
	path = python/sqlalchemy/upstream
	url = git@github.com:sqlalchemy/sqlalchemy.git
