[submodule "frameworks/rust/mysql/upstream"]
	path = frameworks/rust/mysql/upstream
	url = https://github.com/blackbeam/rust-mysql-simple.git
[submodule "frameworks/rust/mysql_async/upstream"]
	path = frameworks/rust/mysql_async/upstream
	url = https://github.com/blackbeam/mysql_async.git
[submodule "frameworks/python/sqlalchemy/src/upstream"]
	path = frameworks/python/sqlalchemy/src/upstream
	url = https://github.com/sqlalchemy/sqlalchemy.git
[submodule "frameworks/rust/sqlx/upstream"]
	path = frameworks/rust/sqlx/upstream
	url = https://github.com/launchbadge/sqlx.git
