[submodule "rust/sqlx"]
	path = rust/sqlx
	url = https://github.com/launchbadge/sqlx.git
[submodule "rust/mysql_async"]
	path = rust/mysql_async
	url = https://github.com/blackbeam/mysql_async
[submodule "rust/mysql"]
	path = rust/mysql
	url = git@github.com:blackbeam/rust-mysql-simple.git
