name: Integration tests
on:
  pull_request:
    branches:
      - master

jobs:
  determine_frameworks:
    name: Get work
    runs-on: ubuntu-latest
    outputs:
      frameworks: ${{ steps.frameworks.outputs.frameworks }}
    steps:
      - id: checkout
        uses: actions/checkout@v2
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'json'
      - id: frameworks
        env:
          FILTER_FROM_STDIN: "1"
        run: ./tools/get-frameworks <<<'${{ steps.files.outputs.all }}'

  run_tests:
    name: Frameworks
    runs-on: ubuntu-latest
    needs: determine_frameworks

    services:
      mysql57:
        image: mysql:5.7
        ports:
          - 33576:3306
        env:
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: root
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=5
      vttestserver:
        image: vitess/vttestserver:mysql57
        ports:
          - 33577:33577
        env:
          PORT: 33574
          KEYSPACES: test
          NUM_SHARDS: "1"
          MYSQL_BIND_HOST: "0.0.0.0"
        options: --health-cmd="mysqladmin ping -h127.0.0.1 -P33577" --health-interval=5s --health-timeout=2s --health-retries=5
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        framework: ${{fromJSON(needs.determine_frameworks.outputs.frameworks)}}
    steps:
      - id: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - id: run-mysql57
        name: Build changed tests and run against upstream MySQL 5.7
        run: |
          # TODO:  Once we figure out how to reuse images across steps, build in a separate step
          ./run.sh build_image "${{ matrix.framework }}"
          ./run.sh run_test "${{ matrix.framework }}"
        env:
          VT_USERNAME: root
          VT_PASSWORD: root
          VT_DATABASE: test
          VT_HOST: 127.0.0.1
          VT_PORT: 33576

      - id: run-vttestserver
        name: Run changed tests against vttestserver
        run: |
          # TODO:  Reuse image from previous step instead of building it again
          ./run.sh build_image "${{ matrix.framework }}"
          ./run.sh run_test "${{ matrix.framework }}"
        env:
          VT_USERNAME: test
          VT_PASSWORD: test
          VT_DATABASE: test
          VT_HOST: 127.0.0.1
          VT_PORT: 33577

      - id: run-psdb
        name: Run changed tests against PSDB
        run: |
          # TODO:  Reuse image from previous step instead of building it again
          ./run.sh build_image "${{ matrix.framework }}"
          ./run.sh run_test "${{ matrix.framework }}"
        env:
          VT_USERNAME: actions
          VT_PASSWORD: ${{ secrets.VT_PASSWORD }}
          VT_DATABASE: itest
          VT_HOST: ${{ secrets.VT_HOST }}
          VT_PORT: 3306

      - id: logs
        name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
          images: 'mysql:5.7,vitess/vttestserver:mysql57'

      - id: push
        name: Push container images for changed tests
        if: (success() || failure()) && github.ref == 'refs/heads/master' && contains(steps.frameworks.outputs.changed, matrix.framework)
        run: |
          echo '${{ secrets.GCLOUD_SERVICE_KEY }}' | docker login -u _json_key --password-stdin https://gcr.io/
          docker push "$(./run.sh generate_image_name "${{ matrix.framework }}")"

