name: Integration tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run_tests:
    name: Frameworks
    runs-on: ubuntu-latest

    services:
      mysql57:
        image: mysql:5.7
        ports:
          - 33576:3306
        env:
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: root
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3
    strategy:
      fail-fast: false
      matrix:
        framework:
          - 'go/gorm'
          - 'haskell/mysql-haskell'
          - 'haskell/mysql-simple'
          - 'haskell/persistent-mysql'
          - 'java/jdbc'
          - 'java/spring'
          - 'javascript/sequelize'
          - 'javascript/typeorm'
          - 'mysqldump/export'
          - 'mysqldump/import'
          - 'php/laravel'
          - 'python/PyMySQL'
          - 'python/mysqlclient'
          - 'python/sqlalchemy'
          - 'ruby/rails'
          - 'rust/mysql'
          - 'rust/mysql_async'
          - 'rust/sqlx'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
    
      - name: Run tests against upstream MySQL 5.7
        run: source lib.sh && run_test ${{ matrix['framework'] }}
        env:
          VT_USERNAME: root
          VT_PASSWORD: root
          VT_DATABASE: test
          VT_HOST: 127.0.0.1
          VT_PORT: 33576

      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
          images: 'mysql:5.7'

