name: Integration tests
on:
  push:
    branches:
      - master

jobs:
  run_tests:
    name: Frameworks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework:
          - 'go/gorm'
          - 'haskell/mysql-haskell'
          - 'haskell/mysql-simple'
          - 'java/jdbc'
          - 'java/spring'
          - 'javascript/sequelize'
          - 'javascript/typeorm'
          - 'php/laravel'
          - 'python/PyMySQL'
          - 'python/mysqlclient'
          - 'ruby/rails'
          - 'rust/mysql'
          - 'rust/mysql_async'
          - 'rust/sqlx'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
    
      - name: Print docker info
        run: docker info

      - name: Run test
        run: source lib.sh && run_test ${{ matrix['framework'] }}
